{% extends "base.html" %}
{% load static %}
{% block title %}Gallery - MARTOUT{% endblock title %}

{% block content %}
<div class="section top container">
    <div class="row">
        <div class="col">
            <h1 class="title">GALLERY</h1>
        </div>
    </div>
</div>
<br><br>
<div class="collage container">
    <div class="row">
        <div class="gallery-image col-sm">
            <img class="image__img" src="{% static 'bicester village.jpg' %}" alt="Bicester Village">
            <div class="image__overlay">
                <div class="image__title">Bicester Village</div>
                <p class="image__description">
                    January 20, 2019
                </p>
            </div>
        </div>
        <div class="gallery-image col-sm">
            <img class="image__img" src="{% static 'lokatara festival.jpg' %}" alt="Lokatara Festival">
            <div class="image__overlay">
                <div class="image__title">Lokatara Festival</div>
                <p class="image__description">
                    November 23, 2018
                </p>
            </div>
        </div>
        <div class="gallery-image col-sm">
            <img class="image__img" src="{% static 'vauxhall.jpg' %}" alt="Vauxhall">
            <div class="image__overlay">
                <div class="image__title">Vauxhall</div>
                <p class="image__description">
                    January 20, 2019
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="gallery-image col-sm">
            <img class="image__img" src="{% static 'liverpool.jpg' %}" alt="Liverpool Lime Street">
            <div class="image__overlay">
                <div class="image__title">Liverpool Lime Street</div>
                <p class="image__description">
                    January 24, 2019
                </p>
            </div>
        </div>
        <div class="gallery-image col-sm">
            <img class="image__img" src="{% static 'hyde park.jpg' %}" alt="Hyde Park">
            <div class="image__overlay">
                <div class="image__title">Hyde Park</div>
                <p class="image__description">
                    January 21, 2019
                </p>
            </div>
        </div>
        <div class="gallery-image col-sm">
            <img class="image__img" src="{% static 'loki-the-golden.jpg' %}" alt="Loki the Golden">
            <div class="image__overlay">
                <div class="image__title">Loki the Golden</div>
                <p class="image__description">
                    August 21, 2020
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="gallery-image col-sm">
            <img class="image__img" src="{% static 'bengkulu.jpg' %}" alt="Bengkulu">
            <div class="image__overlay">
                <div class="image__title">Bengkulu</div>
                <p class="image__description">
                    January 16, 2020
                </p>
            </div>
        </div>
        <div class="gallery-image col-sm">
            <img class="image__img" src="{% static 'laterns-gapfohl.jpg' %}" alt="Laterns-Gapfohl">
            <div class="image__overlay">
                <div class="image__title">Laterns-Gapfohl</div>
                <p class="image__description">
                    January 29, 2019
                </p>
            </div>
        </div>
        <div class="gallery-image col-sm">
            <img class="image__img" src="{% static 'holyrood palace.jpg' %}" alt="Holyrood Abbey">
            <div class="image__overlay">
                <div class="image__title">Hollyrood Abbey</div>
                <p class="image__description">
                    January 26, 2019
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="gallery-image col-sm">
            <img class="image__img" src="{% static 'st gallen.jpg' %}" alt="St. Gallen">
            <div class="image__overlay">
                <div class="image__title">St. Gallen</div>
                <p class="image__description">
                    January 28, 2019
                </p>
            </div>
        </div>
        <div class="gallery-image col-sm">
            <img class="image__img" src="{% static 'the five guys.jpg' %}" alt="Five Guys UK">
            <div class="image__overlay">
                <div class="image__title">Five Guys</div>
                <p class="image__description">
                    January 31, 2019
                </p>
            </div>
        </div>
        <div class="gallery-image col-sm">
            <img class="image__img" src="{% static 'here comes the sun.jpg' %}" alt="Hindia at Here Comes The Sun">
            <div class="image__overlay">
                <div class="image__title">Here Comes The Sun</div>
                <p class="image__description">
                    August 10, 2019
                </p>
            </div>
        </div>
    </div>
</div>
<br><br><br>
{% endblock content %}