{% extends "base.html" %}
{% load static %}
{% block title %}MARTOUT{% endblock title %}

{% block content %}
<div class="section introduction container">
    <div class="row">
        <div class="logo col">
            <img class="mx-auto d-block" src="{% static 'LOGO-WEBSITE.png' %}" alt="Logo" height="75px" width="75px">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="title">Hello!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                This website is created by Anthony Martin Hasurungan,
                a third year student majoring in Information Systems at
                Universitas Indonesia.
            </p>
        </div>
    </div>
</div>
<br><br>
<div class="bg-image">
    <img src="{% static 'john lennon-cropped.jpg' %}" alt="Picture of John Lennon">
</div>
<br><br><br>
<div class="section isi about-me container">
    <div class="row">
        <div class="text col">
            <h2>About Me</h2>
            <p>
                Anthony Martin H. is an easy-going
                and open-handed person. He also has high
                curiosity about everything and is eager to
                learn new things everyday. He is looking
                forward to improving his interpersonal skills
                and gaining work experience in the coming days.
            </p>
        </div>
    </div>
</div>
<br><br><br>
<div class="section isi interests container">
    <div class="row">
        <div class="picture col-lg-7 col-md-7 col-sm-7 col-7">
            <div class="short-div">
                <img class="img-fluid" src="https://www.fodors.com/wp-content/uploads/2019/06/06_HERO__TravelGear_anete-lusina-609863-unsplash.jpg" alt="Picture of a guy wandering in an airport">
            </div>
            <div class="short-div">
                <img class="img-fluid" src="https://pbs.twimg.com/media/EDeWIHSX4AAx91h.jpg" alt="Picture of The 1975 concert">
            </div>
            <div class="short-div">
                <img class="img-fluid" src="https://dvyvvujm9h0uq.cloudfront.net/com/articles/1543483387-reinhart-julian-1145947-unsplash.jpg" alt="Picture of a guy with a camera">
            </div>
            <div class="short-div">
                <img class="img-fluid" src="https://static.standard.co.uk/s3fs-public/thumbnails/image/2017/04/28/13/nintendoswitchmariokart.jpg?w968" alt="Picture of two people playing Nintendo Switch">
            </div>
        </div>
        <div class="text col-lg-5 col-md-5 col-sm-5 col-5">
            <h2>Interests</h2>
            <p>
                Due to the ongoing global pandemic of
                COVID-19, I can only do one of these
                sadly (guess which one!)
            </p>
        </div>
    </div>
</div>
<br><br><br>
{% endblock content %}