{% extends "base.html" %}
{% load static %}
{% block title %}Profile - MARTOUT{% endblock title %}

{% block content %}
<div class="section top container">
    <div class="row">
        <div class="col">
            <h1 class="title">PROFILE</h1>
        </div>
    </div>
</div>
<br><br>
<div class="section isi bio container">
    <div class="row">
        <div class="text col">
            <h2>Bio</h2>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="my-pic logo-wrapper col-xl-6 col-lg-6 col-md-6">
            <img class="center-block" src="{% static 'borough market.jpg' %}" alt="Picture of Anthony Martin H.">
        </div>
        <div class="text col-xl-6 col-lg-6 col-md-6">
            <p>
                <br>
                <b>Full Name</b><br>
                Anthony Martin Hasurungan <br><br>
                <b>Place of Birth</b><br>
                Jakarta, Indonesia<br><br>
                <b>Date of Birth</b><br>
                March 17, 2000<br><br>
                <b>Current Address</b><br>
                Kav. Marinir, Blok AC No. 8, Pondok Kelapa,
                Jakarta Timur
            </p>
        </div>
    </div>
</div>
<br><br><br>
<div class="section isi education container">
    <div class="row">
        <div class="left text col-xl-5 col-md">
            <h2>Education</h2>
        </div>
        <div class="right text col-xl-7 col-md">
            <p>
                <b>Universitas Indonesia</b><br>
                Bachelor's degree, Information Systems<br>
                2018 - Present<br><br>
                <b>SMA Negeri 81 Jakarta</b><br>
                Senior High School, Natural Sciences<br>
                2015 - 2018<br><br>
                <b>SMPK 5 BPK Penabur</b><br>
                Junior High School<br>
                2012 - 2015
            </p>
        </div>
    </div>
</div>
<br><br><br>
<div class="section isi experience container">
    <div class="row">
        <div class="left text col-xl-5 col-md">
            <h2>Work Experience</h2>
        </div>
        <div class="right text col-xl-7 col-md">
            <p>
                <b>COMPFEST</b><br>
                HRD Staff of Equipment and Security<br>
                Feb 2020 - Present<br><br>
                Staff of Direct Marketing<br>
                Feb 2019 - Oct 2019<br><br>
                <b>OH Fasilkom UI</b><br>
                Staff of Equipment<br>
                Sep 2019 - Nov 2019<br><br>
                <b>Universitas Indonesia</b><br>
                Teaching Assistant for Discrete Mathematics 1<br>
                Sep 2019 - Dec 2019
            </p>
        </div>
    </div>
</div>
<br><br><br>
<div class="section isi skills container">
    <div class="row">
        <div class="left text col-xl-5 col-md">
            <h2>Skills</h2>
        </div>
        <div class="right text col-xl-7 col-md">
            <p>
                Microsoft Office<br>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <br><br>
                Java<br>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <br><br>
                Python<br>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <br><br>
                PostgreSQL<br>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <br><br>
                HTML5/CSS<br>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <br><br>
                Teamwork<br>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <br><br>
                Business<br>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <br><br>
                Problem-Solving<br>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </p>
        </div>
    </div>
</div>
<br><br><br><br>
<div class="section download container">
    <div class="row">
        <div class="col">
            <p>To know more about Anthony,
                you can download his resume by clicking
                the button below
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="https://drive.google.com/file/d/1QRQNrAo_WuTn4N-YtM16v5OIIRslb0xD/view?usp=sharing">
                <img src="{% static 'download-button.png' %}" alt="Download Icon">
            </a>
        </div>
    </div>
</div>
<br><br><br><br>
{% endblock content %}