{% extends "base.html" %}
{% load static %}
{% block title %}Debut Story - MARTOUT{% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="debut row">
        <div class="pic debut col-xs-5 col-sm-4 col-md-4 col-lg-4">
            <img class="img-responsive" src="{% static 'S__16203847.jpg' %}" alt="Picture of Anthony Martin H." height="180px" width="180px">
        </div>
        <div class="debut text col-xs-7 col-sm-8 col-md-8 col-lg-8">
            <h1 style="font-size: 1.5em"><span style="font-size: 3em">Halo!</span><br>Selamat datang di website saya.</h1>
        </div>
    </div>
    <div class="debut row">
        <div class="col-xs-1 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="text debut col-xs-10 col-sm-7 col-md-7 col-lg-7">
            <h2>Biodata</h2>
            <p>
                <span style="font-weight: bolder">Nama Lengkap:</span> Anthony "Martin" Hasurungan<br>
                <span style="font-weight: bolder">NPM:</span> 1806185355 <br>
                <span style="font-weight: bolder">Tempat Kuliah:</span> Universitas Indonesia <br>
                <span style="font-weight: bolder">Angkatan:</span> 2018 (Quanta) <br>
                <span style="font-weight: bolder">Hobi:</span> Membuat playlist musik, bermain game, dll
            </p>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
    </div>
    <div class="debut row">
        <div class="col-xs-1 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="text debut col-xs-10 col-sm-4 col-md-4 col-lg-4">
            <h2>Tentang Saya</h2>
            <p style="text-align: justify">
                Martin adalah seorang mahasiswa Sistem Informasi tahun ketiga di Fakultas Ilmu Komputer Universitas Indonesia (Fasilkom UI).
                Ia memiliki kepribadian INTP-T, namun bukan berarti dia tidak suka bergaul. Saat ini, Martin tidak hanya fokus pada
                akademik, namun Ia juga menjalani acara kepanitiaan terbesar di Fasilkom, yaitu COMPFEST, sebagai staf HRD untuk divisi
                <span style="font-style: italic">Equipment and Security.</span>
            </p>
        </div>
        <div class="col-xs-1 col-sm-4 col-md-4 col-lg-4"></div>
    </div>
    <div class="debut row">
        <div class="col-xs-1 col-sm-4 col-md-4 col-lg-4"></div>
        <div class="text debut col-xs-10 col-sm-4 col-md-4 col-lg-4">
            <h2>Riwayat Pendidikan</h2>
            <p>
                - UI, S1 Sistem Informasi (2018-sekarang) <br>
                - SMA Negeri 81 Jakarta, MIPA (2015-2018) <br>
                - SMPK 5 BPK Penabur Jakarta (2012-2015) <br>
                - SDK 4 BPK Penabur Jakarta (2006-2012)
            </p>
        </div>
        <div class="col-xs-1 col-sm-4 col-md-4 col-lg-4"></div>
    </div>
</div>
<br><br><br>
{% endblock content %}