{% extends 'base.html' %}
{% load static %}
{% block title %}Add Course - MARTOUT{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="title border-bottom">ADD COURSES</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <form class="mt-5" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-5">
                <label>Course Name</label>
                {{ form.name }}
            </div>
            <div class="form-group col-md-5">
                <label for="dosen">Lecturer</label>
                {{ form.teacher }}
            </div>
            <div class="form-group col-md-2">
                <label for="sks">Credits</label>
                {{ form.sks }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="semester">Semester</label>
                {{ form.term }}
            </div>
            <div class="form-group col-md-5">
                <label for="tahunAjar">Period</label>
                {{ form.year }}
            </div>
            <div class="form-group col-md-2">
                <label for="ruang">Room</label>
                {{ form.room }}
            </div>
        </div>
        <div class="form-group">
            <label for="deskripsi">Description</label>
            {{ form.desc }}
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
<br><br><br>
{% endblock content %}
