{% extends 'base.html' %}
{% load static %}
{% block title %}Courses - MARTOUT{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="title border-bottom">COURSES</h1>
    <div class="row my-5">
        <div class="col">
            <a href="{{ add_url }}">
                <button type="button" class="btn btn-dark col-2 mr-auto">Add Courses</button>
            </a>
        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    
    {% for course in courses %}
        <div class="card mt-3">
            <div class="card-body d-flex justify-content-between flex-column flex-md-row">
                <div>
                    <h5 class="card-title"><b>{{ course.name }} - {{ course.term }} {{ course.year }}</h5></a>
                    <h6 class="card-subtitle mb-2 text-muted">
                        Lecturer: {{ course.teacher }}<br>
                        Credit: {{ course.sks }} SKS<br>
                        Room: {{ course.room }}<br><br>
                        <i>{{ course.desc }}</i>
                    </h6>
                </div>
                <a href="{% url 'story5:delete' course.id %}" class="card-link text-danger mt-3 mt-md-0 mr-md-4 align-self-center">DELETE</a>
            </div>
        </div>
    {% endfor %}
</div>
<br><br><br>
{% endblock content %}