<!DOCTYPE html>
{% load static %}

{% url 'story4:homepage' as homepage_url %}
{% url 'story4:profile' as profile_url %}
{% url 'story4:gallery' as gallery_url %}
{% url 'story4:debut_story' as debut_story_url %}
{% url 'story5:schedule' as schedule_url %}
{% url 'story5:add' as add_url %}
{% url 'story6:activity' as activity_url %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Montserrat for Story 4 -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <!-- Nanum Gothic for Story 1 -->
    <link href="https://fonts.googleapis.com/css?family=Nanum Gothic" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Font Awesome for star icons in [page: profile, section: skills] -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- jQuery for collapsible navbar -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Customizable CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'design.css' %}">

    <title>{% block title %}{% endblock title %}</title>
</head>

{% if request.path == debut_story_url %}
<body class="debut">
{% else %}
<body class="d-flex flex-column">
{% endif %}
    {% include 'navbar.html' %}
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
    {% include 'footer.html' %}
</body>

</html>