{% load static %}

<div class="medsos container" id="medsos">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <a href="https://www.linkedin.com/in/anthonymrtn/">
                <img src="{% static '010-linkedin.png' %}" alt="LinkedIn Icon">
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <a href="https://www.instagram.com/anthonymrtn/">
                <img src="{% static '011-instagram.png' %}" alt="Instagram Icon">
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <a href="https://www.facebook.com/msimanjuntak92">
                <img src="{% static '001-facebook.png' %}" alt="Facebook Icon">
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-3">
            <a href="https://twitter.com/anthonymartout">
                <img src="{% static '002-twitter.png' %}" alt="Twitter Icon">
            </a>
        </div>
    </div>
</div>
<br><br><br>
<footer id="sticky-footer" class="py-1">
    <div class="container text-center">
        <p>© 2020 MARTOUT INC. All Rights Reserved.</p>
    </div>
</footer>