{% load static %}

<nav class="navbar navbar-expand-md navbar-custom">
    <a class="navbar-brand" href="{{ homepage_url }}"><img class="d-inline-block align-top" src="{% static 'LOGO-WEBSITE.png' %}" alt="Logo" height="40px" width="40px"><span class="website-name">MARTOUT</span></a>
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link {% if request.path == homepage_url %} active {% endif %}" href="{{ homepage_url }}">
                    HOME
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == profile_url %} active {% endif %}" href="{{ profile_url }}">
                    PROFILE
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == gallery_url %} active {% endif %}" href="{{ gallery_url }}">
                    GALLERY
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == debut_story_url %} active {% endif %}" href="{{ debut_story_url }}">
                    STORY 1
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == schedule_url %} active {% endif %}" href="{{ schedule_url }}">
                    COURSES
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == activity_url %} active {% endif %}" href="{{ activity_url }}">
                    ACTIVITIES
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#medsos">
                    SOCIAL
                </a>
            </li>
        </ul> 
    </div>
</nav>
<br><br>