{% extends 'base.html' %}
{% load static %}
{% block title %}Activities - MARTOUT{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="title border-bottom">ACTIVITIES</h1>
    <Form method="POST" class="row my-5">
        {% csrf_token %}
        <div class="col-7 ml-auto">
            {{ activityForm.activity }}
        </div>
        <button type="submit" class="btn btn-dark col-2 mr-auto">
            Add Activity
        </button>
    </Form>
    <hr>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert dismissible fade show mt-4" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="d-flex justify-content-around flex-wrap pb-4">
        {% for activity in activities %}
        <div class="card bg-light mt-5" style="width: 18rem">
            <div class="card-header">
                <div class="row">
                    <h5 class="col-10 mb-2">{{ activity }}</h5>
                    <a href="{% url 'story6:activityDelete' activity.id %}" class="col-2">
                        <button type="button" class="close mb-2">&times;</button>
                    </a>
                </div>
            </div>
            <div class="card-body">
                <h6 class="card-title">Members:</h6>
                <p></p>
                <ul>
                    {% for member in members %}
                    {% if member.kegiatan.id == activity.id %}
                    <li class="row">
                        <h5 class="col-10"> {{ member }} </h5>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <form method="POST">
                    {% csrf_token %}
                    {{ memberForm.member }}
                    <input name="kegiatan" type="text" value="{{ activity.id }}" style="display: none">
                    <button type="submit" class="btn btn-dark col-6 mt-2">Join</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br><br><br>
{% endblock content %}